body{
//  padding-bottom: 61px;
}
.tab-nav.type1{
    text-align: center;
    height: 42px;
    
}
.tab-nav.type1>li>p{
    width: 40px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10px;
}
.tab-nav.type1>.cur>p{
    color: #12b7f5;
    border-bottom: 2px solid #12b7f5;
}
.tab-nav.type2>li{
    width: 70px;
    height: 50px;
    line-height: 50px;
    border-left: 2px solid #f3f3f3;
    background: #f3f3f3;
    text-align: center;
    color: #666;
}
.tab-nav.type2>.cur{
    border-left: 2px solid #12b7f5;
    background: #fff;
    color: #000;
}
.tab-inner{
    >li{
        display: none;
    }
    >.cur{
        display: block;
    }
}
.food-list {
    position: relative;
//  max-height: 100%;
//  max-height: 300px;
//  min-height: 357px;
    height: 357px;
    overflow-y: scroll;
}
.food-list dt{
//  position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    background:#f7f7f7;
    text-indent: 1em;
    border-left:3px solid #eee;
    font-size: 14px;
    line-height: 30px;
    width: 100%;
    box-sizing: border-box;
    color: #666;
}
.food-list dd{
//  padding-top: 30px;
    padding-left: 10px;
    >div{
        padding: 10px 10px 10px 0;
    }
}
.ar{
    .ico{
        width: 30px;
        height: 30px;
        background: url(../images/icons.png) no-repeat;
    }
    .add{
        background-position: 0 -150px;
    }
    .reduce{
        background-position: -30px -150px;
        display: none;
    }
    .food-num{
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #666;
        display: none;
    }
}
.food-pic,.near-pic{
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 3px;
    img{
        width: 100%;
        height: 100%;
    }
}
.tab-nav.type2{
    background: #f3f3f3;
    font-size: 14px;
    overflow-y: scroll;
}

.fix-bottom{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background: #fff;
    align-items:center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    .food-details{
        display: none;
        position: absolute;
        z-index: -1;
        bottom: 60px;
        left: 0;
        width: 100%;
        background: #fff;
        .ar .reduce,.ar .food-num{
            display: block;
        }
        dt .ico{
            width: 30px;
            height: 30px;
            display: block;
            background:url(../images/icons.png) no-repeat;
            transform: scale(0.7);
        }
        dt .ico.type1{
            background-position: -60px -189px;
            
        }
        dt .ico.type2{
            background-position: -90px -189px;
       
        }
        dt .ico.type3{
            background-position: -120px -189px;
        }
        dt .ico.type4{
            background-position: -150px -189px;
        }
        dd{
            max-height: 306px;
            overflow-y: scroll;
        }
    }
    .yu-btn{
        width: 120px;
        height: 60px;
        background: #f40;
        text-align: center;
        color: #fff;
        line-height: 60px;
        border-radius: 0;
        font-size: 16px;
    }
}
.gwc-ico{
    position: relative;
    margin-right: 10px;
    >span{
        border-radius: 50%;
        border: 3px solid #e7e7e7;
        display: block;
    width: 36px;
    height: 36px;
    background: url(../images/icons.png) no-repeat -60px -147px;
    }
    .num{
        width: 20px;
        height: 20px;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
        background: #f60;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -4px;
        right:-4px;
        color: #fff;
        display: none;
    }
}
.food-box{
   padding:10px;
   width: 170px;
   margin: 0 auto;
   border-radius: 5px;
   background: #fff;
   .food-pic2{
       width: 150px;
       height:130px;
       overflow: hidden;
       margin-bottom: 10px;
       img{
           width:100%;
           height: 100%;
       }
   }
}
.food-box.yu-bor1.bor:before{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
.mask .inner{
 padding: 0;
 background: none; 
top: 50%;
}
.big-food-details{
    padding:10px;
    padding-bottom: 30px;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .reduce,.food-num{
        display: block;
    }
}
.big-food-box{
    height: 250px;
    .swiper-slide{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
     }
}
.la-select{
    overflow: hidden;
    margin-bottom: 15px;
    >div{
        float: left;
        margin-right: 10px;
        .ico{
            width: 20px;
            height: 20px;
            display: block;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            background: #ccc url(../images/lajiao.png) no-repeat center;
            background-size: 90% 90%;
            float: left;
        }
        p{
            float: left;
            width: 30px;
            height: 20px;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
             border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
   .yu-bor1.bor:before{
        border:1px solid #ccc;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: 0;
        
    }
   >div:nth-child(1).cur{
       .ico{
            background: #ffab32 url(../images/lajiao.png) no-repeat center;
            background-size: 90% 90%;
        }
        p{
            color: #ffab32;
        }
   }
   >div:nth-child(2).cur{
       .ico{
            background: #ff7800 url(../images/lajiao.png) no-repeat center;
            background-size: 90% 90%;
        }
        p{
            color: #ff7800;
        }
   }
   >div:nth-child(3).cur{
       .ico{
            background: #ff3c00 url(../images/lajiao.png) no-repeat center;
            background-size: 90% 90%;
        }
        p{
            color: #ff3c00;
        }
   }
}
.h-ico{
    justify-content: center;
    align-items: center;
    .ico{
        display: block;
        width: 30px;
        height: 30px;
        background: url(../images/icons.png) no-repeat;
        transform: scale(0.7);
        margin:-2px -3px 0 -20px;
    }
    .ico.type1{
        background-position: 0 -189px;
    }
    .ico.type2{
        background-position: -30px -189px;
    }
}
.bottomMask{
    z-index: 50;
}
.bigimg{
    z-index: 200;
}
//手机长按
.touch_action{  
    -webkit-touch-callout:none;  
    -webkit-user-select:none;  
    -khtml-user-select:none;  
    -moz-user-select:none;  
    -ms-user-select:none; 
    user-select:none;  
}
.tab-nav.type0{
    text-align: center;
    height: 42px;
    background: #fff;
    line-height: 42px;
    color: #999;
    >.cur{
        color: #000;
        border-bottom: 2px solid #12b7f5;
    }
}
.copyico {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.copyico.type1{
    background: #ff7070;
}
.copyico.type2{
    background: #70bc46;
}
.hasD .reduce,.hasD .food-num{
    display: block;
}
.la-lv{
    width: 55px;
    height: 26px;
    background: url(../images/lajiaolv.png) no-repeat;
    transform: scale(0.7);
}
.la-lv.type0{
    background-position: 0 0;
}
.la-lv.type1{
    background-position: 0 -26px;
}
.la-lv.type2{
    background-position: 0 -52px;
}
.la-lv.type3{
    background-position: 0 -78px;
}
.colorBorder{
    width: 100%;
    height: 5px;
    background: url(../images/border_03.jpg) repeat-x;
}
.gps-ico{
    width: 21px;
    height: 33px;
    background: url(../images/icons.png) no-repeat -102px -148px;
    margin-left: 20px;
    transform: scale(0.7);
}
.hb-mask{
    z-index: 300 !important;
}
.select-list{
    overflow: hidden;
}
.select-list>p{
    float: left;
   padding: 0 20px;
   font-size: 14px;
   border-radius: 30px;
   height: 30px;
   line-height: 30px;
   color: #666;
   margin: 5px 10px 5px 0;
   
}
.select-list>.yu-bor1.bor:before{
   border:1px solid #e7e7e7;
   border-radius: 30px;
    
}
.select-list>.cur{
    color: #12b7f5;
    background: #f9fcff;
}
.select-list>.yu-bor1.bor.cur:before{
   border:1px solid #12b7f5;
    
}
.blue-sub{
   width: 100%;
   height: 50px;
   color: #fff;
   border-radius: 10px;
   border: 0;
   outline: 0;
   font-size: 20px;
   background: #12b7f5;
   font-family: "microsoft yahei" ,simhei;
}
.input-type2{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei",simhei;
    line-height: 100%;
}
.close-type1{
    width: 30px;
    height: 30px;
    background: url(../images/icons.png) no-repeat -90px 0;
    transform: scale(0.7);
    display: none;
}
.add-con{
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/jico.png) no-repeat -30px -30px;
    transform: scale(0.7);
    
}
.textarea-type1{
    width: 100%;
    height: 100px;
    background: #f8f8f8;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
//  border:0;
    outline: 0;
//  color: #666;
font: 14px "microsoft yahei",simhei;
    
}
.textarea-box{
    position: relative;
    width: 100%;
    height: 100px;
    >p{
        position: absolute;
        bottom:10px;
        right: 5px;
        color: #999;
        font-size: 12px;
    }
}
.pay-btn1{
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    
}
.pay-btn1.type1{
    width: 105px;
    background: #fff;

    

    border-radius: 3px;
    color: #999;
    margin-right: 10px;
}
.pay-btn1.type1:before{
    border: 1px solid #ccc;
    border-radius: 6px;
    
}
.pay-btn1.type2{
    background: #f40;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}
.time-bar{
    width: 100%;
    height: 120px;
    background: #12b7f5;
    justify-content: center;
    .time-ico{
        width: 115px;
        height: 84px;
        background: url(../images/time.png) no-repeat;
        transform: scale(0.5);
        margin:0 -25px;
    }
    .s-ico{
         width: 115px;
        height: 84px;
        background: url(../images/s-ico.png) no-repeat;
        transform: scale(0.5);
        margin:0 -25px;
    }
}
.pay-cancel-tip{
    margin: 0 auto;
    width: 320px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 25px;
    position: relative;
    top: 50%;
    margin-top: -25%;
}
.content-btn-bar{
    >div{
        height: 40px;
        line-height: 40px;
        border-radius: 3px;
        text-align: center;
        font-size: 14px;
    }
    >div:nth-child(1):before{
        border:1px solid #ccc;
        border-radius: 6px;
    }
    >div:nth-child(2){
        color: #fff;
        background: #12b7f5;
    }
    >div:nth-child(2).type2{
        color: #12b7f5;
        background: #fff;
    }
    >div.type2:before{
        border: 1px solid #12b7f5;
        border-radius: 6px;
    }
}
.bottom-btn1{
//  padding: 0 30px;
    height: 40px;
    font-size: 16px;;
    line-height: 40px;
    text-align: center;
}
.bottom-btn1.type2{
    color: #999;
    border-radius: 3px;
    margin-right: 10px;
}
.bottom-btn1.type2:before{
    border:1px solid #ccc;
    border-radius: 6px;;
}
.bottom-btn1.type1{
    color: #12b7f5;
    border-radius: 3px;
    background: #f9fcff;
}
.bottom-btn1.type1:before{
     border:1px solid #12b7f5;
    border-radius: 6px;;
}
.get-ico{
    width:23px;
    height: 23px;
    background: url(../images/icons.png) no-repeat -180px -192px;
    transform: scale(0.6);
    margin-right: 10px;
}
.get-bar{
    border-left:3px solid #12b7f5;
}
.yuan-ico {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
}
.yuan-ico:before {
        content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
.re-set-btn1{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    background: #12b7f5;
}
.step{
    font-size: 14px;
    >div{
        position: relative;
        text-align: center;
        width: 100px;
    }
    >.type1,.type3{
        color: #12b7f5;
        .yuan-ico{
                background: #12b7f5;
            }
    }
    >.type3:before{
         content: " ";
         width: 60px;
        height: 1px;
        background:#12b7f5;
        margin: 0 10px;
        position: absolute;
        top: 25%;
        left: -40%;
    }
    >.type2{
        color: #f40;
        .yuan-ico{
                background: #f40;
            }
    }
    >.type2:before{
        content: " ";
         width: 60px;
        height: 1px;
        background:#f40;
        margin: 0 10px;
        position: absolute;
        top: 25%;
        left: -40%;
    }
     >.type0{
        color: #999;
        .yuan-ico{
                background: #d4d7dc;
            }
    }
    >.type0:before{
        content: " ";
         width: 60px;
        height: 1px;
        background:#d4d7dc;
        margin: 0 10px;
        position: absolute;
        top: 25%;
        left: -40%;
    }
}
.hide-page{
    display: none;
}
.hide-page.cur{
    display: block;
}
.select-ico{
    width: 40px;
    height: 40px;
    background: url(../images/icons.png) no-repeat -40px -230px;
    transform: scale(0.6);
}
.cur>.select-ico{
    background: url(../images/icons.png) no-repeat 0 -230px;
 }
 .cur2>.select-ico{
    background: url(../images/icons.png) no-repeat -80px -230px;
 }
.re-set-btn2{
    text-align: center;
    color: #12b7f5;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
   text-decoration: underline !important;
}
